*{
    margin: 0;
    padding: 0;
    font-family: 'Microsoft Yahei';
}
body,html{
    overflow: hidden;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.p10{
    padding: 10px;
}
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.f16{
    font-size: 16px;
}
.c-green{
    color: #54ff00;
}
.loading{
    position: absolute;
    left: 50%;
    bottom: 15%;
    width: 100px;
    margin-left: -50px;
    margin-top: 60px;
    text-align: center;
    font-weight: bolder;
    color: #fff;
    font-size: 16px;
}
.copyright{
    width: 100%;
    position: absolute;
    text-align: center;
    color: #fff;
    bottom: 10px
}
.btn-box{
    display: none;
}
.lifebar{
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 16px;
    background: url('../image/life.png') repeat-x;
}
.hptotal{
    height: 2px;
    border-radius: 3px;
    text-indent: 30px;
    font-weight: bolder;
    font-size: 0;
    top: -17px;
    color: red;
    margin: 0 auto;
    display:block;
    border: 1px solid #b59494;
    position: relative;
}
.hpbar{
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    border-radius: 3px;
    display:block;
    background: red;
    opacity: 0.8;
    font-size: 24px;
    font-weight: bolder;
    color: red;
    text-indent: 10px;
}
.gameTit{
    padding-top: 150px;
    color: #a6a7ea;
    font-size: 60px;
    text-align: center;
    text-shadow: 3px 3px 10px #333
}
#contentdiv{    
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}
#startdiv{
    width: 100%;
    height: 100%;
    background-image: url(../image/startbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
button{
    outline: none;
}
.begin{
    position: absolute;
    bottom: 20%;
    left: 50%;
    margin-left:-75px;
    width: 150px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    background-color: #a6a7ea;
}
.tips{
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin-left:-75px;
    width: 150px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    background-color: #a6a7ea;
}
#maindiv{
    width: 100%;
    height: 100%;
    background-image:url(../image/mission1.jpg);
    background-repeat: repeat-y;
    background-size: 100% 100%;
    display: none;
    overflow: hidden;
    position: absolute;
}
#maindiv .plane,#maindiv .bullet,#maindiv .supply{
    position: absolute;
    z-index: 1;
}
#scorediv{
    font-size: 10px;
    font-weight: bold;
    opacity: 0.8;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    display: none;
    width: 90%;
    z-index: 99;
}
#suspenddiv{
    position: absolute;
    top: 70%;
    left: 50%;
    margin-left: -75px;
    display: none;
    z-index: 2;
}
#suspenddiv button{
    width: 150px;
    height: 40px;
    color: #fff;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 30px;
    background-color: #a6a7ea;
}
.enddiv{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -100px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    background-color:#a6a7ea;
    display: none;
    z-index: 2;
    width: 200px;
    height: 150px;
}
.plantext{
    text-align: center;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
#planscore{
    height: 50px;
    color: #fff;
    line-height: 50px;
    border-top: 1px solid #fff;
    font-size: 26px;
    font-weight: bold;
}
.endbtn{
    margin-top:10px ;
    width: 90px;
    height: 30px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
}
.tac{
    text-align: center;
}
.plane1{
    background: url(../image/plane1.png) no-repeat 0px 10px;
}
.bullet1{
    background: url(../image/bullet.png) no-repeat;
}
.bullet2{
    background: url(../image/bullet2.png) no-repeat;
}
.firebullet{
    background: url(../image/fire.png) no-repeat;
}
.e-bullet1{
    background: url(../image/e-bullet1.png) no-repeat;
}
.e-particle{
    background: url(../image/particle.png) no-repeat;
}
.e-missile{
    background: url(../image/missile.png) no-repeat;
}
.shotgun{
    background: url(../image/shotgun.png) no-repeat;
}
.e-b1{
    background: url(../image/b1.png) no-repeat;
    animation: circle 0.5s infinite linear;
}
.e-b2{
    background: url(../image/b2.png) no-repeat;
}
.e-b3{
    background: url(../image/b3.png) no-repeat;
}
.laserbullet{
    background: url(../image/laser.png) no-repeat;
}
.enemys1{
    background: url(../image/e1.png) no-repeat;
}
.enemys1.underattack{
    background: url(../image/e1.png) no-repeat -50px 0;
}
.enemys2{
    background: url(../image/e2.png) no-repeat;
}
.enemys2.underattack{
    background: url(../image/e2.png) no-repeat -70px 0;
}
.enemys3{
    background: url(../image/e3.png) no-repeat;
}
.enemys3.underattack{
    background: url(../image/e3.png) no-repeat -88px 0;
}
.enemys4{
    background: url(../image/e4.png) no-repeat;
}
.enemys4.underattack{
    background: url(../image/e4.png) no-repeat -100px 0;
}
.enemys5{
    background: url(../image/e5.png) no-repeat;
}
.enemys5.underattack{
    background: url(../image/e5.png) no-repeat -45px 0;
}
.enemys6{
    background: url(../image/e6.png) no-repeat;
}
.enemys6.underattack{
    background: url(../image/e6.png) no-repeat -90px 0;
}
.enemys7{
    background: url(../image/e7.png) no-repeat 0 -2px;
}
.enemys7.underattack{
    background: url(../image/e7.png) no-repeat -100px -2px;
}
.boss1{
    background: url(../image/boss1.png) no-repeat;
}
.boss1.underattack{
    background: url(../image/boss1.png) no-repeat -150px 0;
}
.supply{
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: 1px 0px 20px 0px #fff;
    margin: 0 auto;
}
.supplybulletspeed{
    background:#51fe28 url('../image/bulletspeed.png');
}
.supplytwobullets{
    background:#36ffd2 url('../image/twobullets.png');
}
.supplyextralife{
    background:#f3df6f url('../image/life.png') no-repeat 5px 6px;
    background-size: 80%;
}
.supplyfirebullets{
    background:#ffd4d4 url('../image/fire.png') no-repeat 6px 1px;
    background-size: 60%;
}
.supplylaserbullets{
    background:#80c3f3 url('../image/laser.png') no-repeat 6px 1px;
    background-size: 60%;
}
.supplycritRate{
    background:#5ad4e1 url('../image/crit.png') no-repeat 6px 6px;
    background-size: 60%;
}
.supplyattack{
    background:#9d6fc8 url('../image/bullet.png') no-repeat 6px 6px;
    background-size: 60%;
}
.supplyshotgun{
    background:#4e4aff url('../image/shot.png') no-repeat;
}
.critdamage .hpbar,.underattack .hpbar{
    animation: attack 0.3s ease-in-out;
}
.critdamage:after{
    display: block;
    content: '';
    left: -20px;
    height: 30px;
    top: -17px;
    width: 60px;
    position: absolute;
    color: red;
    transition: all 0.2s ease-in;
    font-size: 30px;
    z-index: 99;
    background: url(../image/crit.png) no-repeat;
}
.propeller{
    background: url('../image/lxj2.png') no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
}
.breathe{
    border-radius: 50%;
    box-shadow:0 1px 2px rgba(0,0,0,.3);
    animation-timing-function:ease-in-out;
    animation-name:breathe;
    animation-duration:500ms;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}
.grading-box{
    position: absolute;
    background: #a6a7ea;
    color: #fff;
    width: 300px;
    height: 222px;
    left: 50%;
    top: 30%;
    margin-left: -150px;
    border-radius: 8px;
    padding: 10px;
    display: none;
    z-index: 33;
}
.f12{
    font-size: 12px;
}
.grading{
    font-size: 46px;
    height: 50px;
    /* overflow: hidden; */
    text-align: center;
    font-weight: bolder;
    letter-spacing: 8px;
    color: #ffd600;
    animation: jump 0.5s linear;
}
.missionstatus{
    text-align: center;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
}
.detail{
    margin-top: 10px;
    height: 30px;
}
.detail .item{
    text-align: center;
    width: 50%;
    float: left;
}
.detail .num{
    font-size: 16px;
    color: #ff6c00;
    font-weight: bold;
    margin-right: 10px;
}
.circle{
    animation: circle 0.5s infinite linear;
}
@keyframes circle{
    0%{
        transform: rotate(360deg)
    }
    100%{
        transform: rotate(0deg)
    }
}
/*3秒无敌状态效果*/
@keyframes breathe {
    0% {
        opacity:.2;
        box-shadow:0 1px 2px rgba(255,255,255,0.1);
    }
    100% {
        opacity:1;
        border:1px solid rgba(59,235,235,1);
        box-shadow:0 1px 30px rgba(59,255,255,1);
    }
}
@keyframes attack {
    0% {
        opacity:1;
    }
    100% {
        opacity:0.3;
        top: -27px;
        line-height: 30px;
        font-size: 30px;
    }
}
@keyframes jump {
    0% {
        opacity:0.5;
        margin-top: 50px;
        font-size: 100px;
    }
    45% {
        opacity:0.5;
        margin-top: -20px;
        font-size: 60px;
    }
    80% {
        opacity:1;
        margin-top: 0px;
        font-size: 46px;
    }
    90% {
        margin-top: -5px;
    }
    100% {
        margin-top:0; 
    }
}

 @keyframes move-eye-skew {
  0% {
    transform: none;
  }
  20% {
    transform: translateX(-10px) translateY(10px) skewX(15deg) skewY(-10deg) scale(0.95);
  }
  25%, 44% {
    transform: none;
  }
  50%, 60% {
    transform: translateX(10px) translateY(-10px) skewX(5deg) skewY(2deg) scaleX(0.95);
  }
  66%, 100% {
    transform: none;
  }
}

.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 40%, #b9cbef, #b9cbef 60%, #464545 100%);
}
.ball:after {
  content: "";
  position: absolute;
  top: 26%;
  left: 37%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
  transform: translateX(-25px) translateY(-20px) skewX(-20deg);
}

.iris {
  width: 40%;
  height: 40%;
  margin: 30%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, #208ab4 0%, #6fbfff 30%, #4381b2 100%);
  transform: translateX(8px) translateY(-8px) skewX(12deg) skewY(2deg);
  position: absolute;
  animation: move-eye-skew 5s ease-out infinite;
}
.iris:before {
  content: "";
  display: block;
  position: absolute;
  width: 37.5%;
  height: 37.5%;
  border-radius: 50%;
  top: 31.25%;
  left: 31.25%;
  background: black;
}
.iris:after {
  content: "";
  display: block;
  position: absolute;
  width: 31.25%;
  height: 31.25%;
  border-radius: 50%;
  top: 18.75%;
  left: 18.75%;
  background: rgba(255, 255, 255, 0.2);
}

.ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    transform: rotateX(90deg) translateZ(-30px);
    z-index: -1;
}
.stage {
  width: 40px;
  height: 40px;
  display: block;
  margin-top: 58px;
  margin-left: 56px;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  transform: rotateY(0.01deg);
}